<div>

    <div  *ngIf="cookieValue.userOption=='User'; else dashboardTemplate">
      <br><br><br>
      <div style="margin-left:100px"><button class="btn btn-primary" style="width:100px" #myInput value="A" (click)="showData(myInput.value)">A</button></div>
      <br><br>
      <div style="margin-left:100px"><button class="btn btn-primary"style="width:100px" #myInput1 value="B" (click)="showData(myInput1.value)">B</button></div>
      <br><br>
      <div style="margin-left:100px"><button class="btn btn-primary" style="width:100px"#myInput2 value="C" (click)="showData(myInput2.value)">C</button></div>
      <br><br>
      <div style="margin-left:100px"><button class="btn btn-primary" style="width:100px" #myInput3 value="D" (click)="showData(myInput3.value)">D</button></div>
      <br><br>
      <div style="margin-left:100px"><button class="btn btn-success" style="width:100px" (click)="logOut()">Log Out</button></div>
      </div>
      
    <ng-template #dashboardTemplate>
    <div *ngIf="cookieValue.userOption=='Admin';">
      <br><br><br>
      <div style="margin-left:100px"><button  class="btn btn-danger" (click)="keepMyTrack()">Track The Path</button></div>
      <br><br>
      <div style="margin-left:100px"><button class="btn btn-primary" style="width:100px" #myInput value="A" (click)="showData(myInput.value)">A</button></div>
      <br><br>
      <div style="margin-left:100px"><button class="btn btn-primary"style="width:100px" #myInput1 value="B" (click)="showData(myInput1.value)">B</button></div>
      <br><br>
      <div style="margin-left:100px"><button class="btn btn-primary" style="width:100px"#myInput2 value="C" (click)="showData(myInput2.value)">C</button></div>
      <br><br>
      <div style="margin-left:100px"><button class="btn btn-primary" style="width:100px" #myInput3 value="D" (click)="showData(myInput3.value)">D</button></div>
      <br><br>
      <div style="margin-left:100px"><button class="btn btn-success" style="width:100px" (click)="logOut()">Log Out</button></div>
      </div>
  </ng-template>
</div>

<h4 style="margin:-400px 550px">{{dataToShow | json}}</h4>